@media only screen and (max-width: 900px) {
  body{
      background-color: lightblue;
  }
  nav{
      width: 100%;
      left: 0%;
  }
  #container{
      width: 100%;
      grid-template-areas:
       "h h h"
       "m m m"
       "f f f" 
  }
  main{
      grid-area: m;
      background-color: blue;
  }
  #butao_inserir_txt{
      width: 100%;
      margin: 0px;
  }
  #textarea{
      width: 100% ;
  }
  #textarea:hover{
      transition: all 1s;
      height: 180px;
  }
  #alinhar{
      background-color: blueviolet;
      height:240px;
      overflow: hidden;
  }

  header{
  position: relative;
  top: 55px;
  }

footer{
  margin-top: 59px;
  }
}