
@media only screen and (max-width: 900px) {
    
    
    
    aside{
        position: fixed;
        right: 0;
        bottom: 0;
    
        margin-bottom: 20px;
        margin-right: 20px;
    
        width: 0px;
        height: 0px;
    
        border-radius: 50%;
        z-index: 11;
    }
    
   
    
    #out {
        position: fixed;
        right: 0;
        bottom: 0;
        margin-bottom: 20px;
        margin-right: 20px;
        z-index: 1;
    }
    
    #label {    
    display: flex;
    width: 50px;
    height: 50px;
    }
    #label > img {
        position: absolute;
        z-index: 21;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(211, 211, 211);
    }

    

    #aside.active{
        border-radius: 10px;
        width: 300px;
        height: 70vh;   
        transition: all .5s;
    }
    
    
    
    
  
}
#setting{
        display: none;
    }

    #imagem_active {
        position: absolute;
    }