body {
    background-color: rgb(224, 224, 224);
}

main {
    
    height: auto;
    width: 1000px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(224, 224, 224);
    margin: auto;
}

#texto {
    display: inline;
    width: 60%;
    height: 300px;
    resize: none;
}

#texto_digitado{
    margin-top: 20px;
    width: 67%;
    min-height: 50px;
    text-align: justify; 
}

p{
    font-size: 20px;
    margin: 0px;
    
}

#div_erros{
    position: sticky;
    top: 20px;
    width: 200px;
    min-height: 20vh;
    max-height: 70vh;
    border: solid black;
    overflow: auto;
    text-align: center;
    margin-right:93px;

}

#botao{
    display:block;
    width: 60.7%;
}

#botoes_formas{
    width: 200px;
    float: right;
    margin-right:80px;
    padding: 15px;
}

.botoes {
    margin: 22px;
    padding: 5px;
    display: flex;
}

input {
    float: left;
    color: brown;
    width: 30px;
    height: 30px;
    margin-right: 14px;
}

#div_cor {
    width: 300px;
}
#cor{
    
    margin-left: 10%;
    width: 80px;
    height: 80px;
}
#botao_mudar_cor {
    width: 100px;
    height: 40px;
}

svg{
    position: absolute; 
    top: 0px; 
    left: 213px; 
    overflow: visible; 
    pointer-events: none; 
}


#edicao_txt {
    border: solid black;
    width: 60%;
    height: 200px;
}


#foda{
    float: left;
    border: solid black;
    width: 200px;
    height: 35px;
    overflow: hidden;
    font-size: 26px;
}
#foda:hover{
    width: 200;
    height: 90px;
    border: solid black;
}