body {
    margin: auto;
    height: auto;
    width: 1000px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(224, 224, 224);
}
#texto {
    display: inline;
    width: 50vh;
    height: 300px;
    
}
#erros{
    float: right;
    position: sticky;
    top: 20px;
    width: 30%;
    min-height: 20vh;
    max-height: 70vh;
    border: solid black;
    overflow: auto;
}
#texto_erro {
    height: 400px;
    width: 1000px;
}

#texto_digitado{
    width: 68%;
    text-align: justify;
}

p{
    font-size: 23px;
}